<br>
<div class="row">
    <div class="col-md-7">
        <h2>Groups</h2>
        <p>The following is the list of groups available in the federation:</p>  
    </div>
    <div class="col-md-5 ">
        <a href="#!/groups/create" class="btn btn-success float-right">Create a new group</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12" ng-if="groups.length == 0" style="margin-top: 10px">
        No groups available. <br><br>Use this interface to create a new group.
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" ng-change="paginate()"  ng-model="pagination.filterKeyword"
                   class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-md-2 offset-md-4">

        <select ng-change="paginate()"  ng-model="pagination.numPerPage" 
                class="form-control " placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
            <option ng-repeat="opt in pagination.ippOptions" 
                    ng-selected="opt==pagination.ippDefault"
                    ng-value="{{opt}}">{{opt}} items</option>
        </select>

    </div>
</div>

<table class="table table-striped" ng-if="groups.length > 0">
    <thead>
        <tr>
            <th>Identifier</th>
            <th>Owner</th>
            <th>Instances</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="pagination.slicedDataset.length==0" style="height:50px; line-height: 50px;" class="text-center">
            <td colspan="3">No results.</td>
        </tr>
        <tr ng-repeat="gp in pagination.filteredDataset" ng-if="gp.instances.length>1 || gp.identifier=='GMQL-ALL'">
            <td>
                <a ng-if="gp.owner==logged_user.instancename && gp.identifier!='GMQL-ALL'" href="#!/groups/edit/{{gp.identifier}}">{{gp.identifier}}</a>
                <span ng-if="gp.owner!=logged_user.instancename || gp.identifier=='GMQL-ALL'">{{gp.identifier}}</span>
            </td>
            <td>{{gp.owner}}</td>
            <td>
                <ul ng-if="gp.identifier!='GMQL-ALL'">
                    <li ng-repeat="i in gp.instances">{{i}}</li>
                </ul>
                <ul ng-if="gp.identifier=='GMQL-ALL'">
                    <li>All instances belong to this group.</li>
                </ul>
            </td>
        </tr>

    </tbody>
</table>

<ul uib-pagination ng-if="groups.length > 0"
    boundary-links="true"
    boundary-link-numbers="true"
    rotate="true"
    total-items="pagination.totalItems" 
    items-per-page="pagination.numPerPage"
    ng-model="pagination.currentPage" 
    ng-change="paginate()"

    class="pagination-sm float-right" 
    previous-text="&lsaquo;"
    next-text="&rsaquo;" 
    first-text="&laquo;" 
    last-text="&raquo;"></ul>